@charset "UTF-8";

body {
	margin: 0;
	height: 100vh;
	font-size: 18px;
	background-color: rgba(220, 198, 198, 1);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
ul {

	list-style-type:none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color:  rgba(161, 109, 246, 1);
	
}

li {
	float:left;
	
}

li a {
	display: block;
	color:white;
	text-align: center;
	padding:14px 16px;
	text-decoration:none;
	
}

li a:hover {
	background-color: rgba(122, 55, 229, 1);
	
}

.nav_container {
	width: 1500px
}

.table {
	 font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
}

th {
	
	border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
